body {
	font-family: 'Open Sans',sans-serif;
	font-size: 20px;
	color: #424242;
}

.blue-bg {
	background: rgb(67,125,173);
}

.blue-bg-fade, .row-reversed.blue-bg-fade {
	background: rgba(67,125,173,0.6);
}

.white-bg {
	background: rgba(255,255,255,0.5) !important;
}

.grey-bg-fade {
	background: rgba(66,66,66,0.6);
}

.logo-text {
	text-transform: uppercase;
	border-left: 5px solid white;
}

.row {
	padding: 30px 100px;
	background: url('https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-013875902762/resources/images/templatesv2/backgroundpattern.png');
	margin-bottom: 0;
}

@media screen and (max-width:600px) {
	.row {
		padding: 30px;
	}
}

.row .col {
	padding: 0;
}

.row-reversed {
	color: white;
}

.headliner {
	border-left: 5px solid rgb(67,125,173);
	padding-left: 20px;
	text-transform: uppercase;
	color: rgb(67,125,173);
}

.row-reversed .headliner {
	color: white;
	border-left: 5px solid white;
}

.row-reversed .headliner a {
	color: white;
}

.card {
	box-shadow: none;
}

.card .card-image .header-container, .card .card-image .header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.card .card-image .header-container {
	height: 135px;
    border-bottom: 5px solid rgba(67,125,173,0.6);
	opacity: 0;
	transition: opacity 0.5s linear;
	z-index: 2;
}

.card .card-image .header-container.grey-border {
    border-bottom: 5px solid rgba(66,66,66,0.6);
}

.card .card-image .header-container:hover {
	opacity: 1;
}

.card .card-image .header {
	height: 125px;
}

.card .card-image .header .headliner  {
	border-left: none;
}

.card .card-image .header .headliner h4 {
	line-height: 125px;
	margin: 0;
}