body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.logo img {
	height: 30px;
	margin-right: 5px;
	margin-top: 5px;
}

.cardetailstop {
	margin-top: 75px;
	font-size: 12px;
	margin-left: 10px;
}

.underline {
	text-decoration: underline;
}

.btn-hover:hover {
	text-decoration: underline;
}

.centeredtext {
	text-align: center;
}

.whitebackground {
  background-color: white;
}

.whitetext {
	color: white;
}

.redtext {
  color: red;
}

.goldtext {
  color: #FFCC00;
}

.midlogo {
	width: 300px;
}

.bold {
	font-size: 120%
}

.centered {
	text-align: center;
}

.right {
  text-align: right;
}

.brandbutton {
	margin-top: 6px;
	cursor: pointer;
}

.gridster ul {
	list-style-type: none;
}

.gridelement {
	background: transparent;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.brandpic-background {
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	margin-top: -10px;
	width: 100%;
	height: 100%;
}

.smallicon {
	width: 30px;
	margin-left: 10px;
}

.mediumicon {
	width: 50px;
	margin: -5px 10px 0px 10px;
}

.mediumcountry {
	width: 100px;
}

.flagbutton:hover {
	cursor: pointer;
}

.categorielabel {
	font-size:22px;
	padding:6px;
	margin:12px 15px;
}

.categorielabel:hover {
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
}

#restorations div.scrollableArea
{
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#customs div.scrollableArea
{
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}


#mostpopular div.scrollableArea
{
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ui-autocomplete {
    padding-top:16px;
}

.category {
	box-shadow: 0 0 5px #888;
}

.categorybutton {
	margin-bottom:5px;
}

.btn-group > .btn-header {
	font-size: 13px;
	width: 135px;
}