.facetbutton {
	padding:10px 15px;
	font-size: 18px;
	border:none;
}

.facetcontent {
	margin-top:5px;
}

.facetelement {
	margin:5px 2px;
	padding:3px;
	width : 95%;
	color:black;
	background-color:transparent;
	background-image:none;
	text-shadow:none;
}

.facetelement:hover {
  color:#CC6600;
}

.btn-clear {
	margin-top:10px;
	padding:2px 8px;
}

.facet-result {
	margin-left:0px !important;
	height:150px;
	width:168px !important;
}