.carousel-inner .item {
	height:90%;
}

#nav-buttons-container {
	width:100%;
}

.nav-button {
	width:14.36%;
	height:45px;
	border-left-style:solid;
	border-right-style:solid;
	font-size:16px;
}

.nav-button:hover {
  background-color:white;
}