#mainPicture {
    height: 600px;
    background: url('https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-013875902762/resources/images/templatesv2/header.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainPictureHover {
    height: inherit;
    position: relative;
    background-color: rgba(255,255,255,0.2);
}

#mainPictureLine {
    height: 200px;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#mainPictureLabel {
    width: 200px;
    font-size: 38px;
    text-align: left;
    text-transform: uppercase;
    margin: auto;
    border-left: 5px solid white;
    padding-left: 20px;
}

#mainPictureLabel h2 {
    margin-top: 15px;
}