.am-container {
	margin-bottom: 25px;
}

.am-wrapper, .am-wrapper-thumbnail {
	float: left;
	position: relative;
	overflow: hidden;
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
	background: white;
  font-size: 9px;
}

.am-wrapper {
	width:200px !important;
  height:150px !important;
}


.am-wrapper-thumbnail {
  padding:0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:150px;
}

.am-wrapper:hover, .am-wrapper-thumbnail:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	position: relative;
	z-index: 5;
	box-shadow: inset 0 0 80px black;
	-moz-box-shadow: inset 0 0 80px black;
}

.am-wrapper:after, .am-wrapper-thumbnail:after {
	content: attr(title);
	color: white;
	position: absolute;
	top: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	width: 100%;
	background: rgba(0,0,0,0.5);
	display: block;
}