nav {
	background-color: transparent;
    position: absolute;
    box-shadow: none;
    top: 20px;
    line-height: 56px;
}

nav form {
	width: 50%;
	margin-bottom: 0;
	transition: width 0.5s;
}

@media screen and (max-width:600px) {
	nav form {
		width: 75%;
	}
}

nav .input-field label i, nav .input-field label.active i {
	color: #424242;
}

.input-field input[type=search] {
	margin-bottom: 0;
	height: 56px;
}

.input-field input[type=search]::-webkit-input-placeholder {
   color: #9e9e9e;
}

#menuButton {
	margin-left: 10px;
	cursor: pointer;
    padding: 0 10px;
}