.roundabout-holder {
  list-style: none;
  padding: 0;
  height: 25em;
  width: 25em;
  margin: 200px auto 100px auto;
}

.roundabout-moveable-item {
  height: 22em;
  width: 25em;
  cursor: pointer;
  background-color: #ccc;
  border: 3px solid steelBlue;
}

.roundabout-in-focus {
  cursor: auto;
}

li img {
  margin:auto;
  height: 84%;
}