#sidePanelContainer {
    position: absolute;
    height: 100%;
    width: 200px;
    z-index: 1000;
    border-right: 5px solid white;
    background-color: transparent;
}

#sidePanelInnerContainer {
	width: 98%;
    height: inherit;
    background-color: white;
}

#sidePanelInner {
    padding-top: 20px;
    margin: auto;
    width: 75%;
}

#sidePanelLogo {
	height: 120px;
	font-size: 24px;
    padding: 5px;
}

#sidePanelLogo div {
	padding-left: 10px;
}