body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: $primary-text-color;
  text-transform: uppercase;

  p, span {
    text-transform: none;
  }

  .flow-text {
    .row:first-child {
      min-height: 275px;
    }
  }
}

.blue-bg {
  @include blue-bg(1);
}

.blue-bg-fade {
  @include blue-bg(0.65);
}

.white-bg {
  @include white-bg(0.5);
}

.grey-bg-fade {
  @include grey-bg(0.6);
}

.logo-text {
  border-left: $white-border;
}

.row {
  padding: 30px 100px;
  margin-bottom: 0;
  @include respond-to(phone) {
    padding: 30px;
  }

  .col {
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: rgba($primary-text-color, 0.6);
  }
}

.row-bg {
  @include car-bg;
}

.row-reversed {
  h4, h5, h6 {
    color: $white-color;
  }

  .headliner {
    border-left: $white-border;

    a {
      color: $white-color;
    }
  }
}

.headliner {
  border-left: $grey-border;
  padding-left: 20px;
}

.btn, .btn-large {
	@include blue-bg(1);
}

.dropdown-content li>a, .dropdown-content li>span {
	color: $primary-text-color;
}

.pagination li.active {
  @include blue-bg(1);
}