.list-item {
  &.car {
    height: 180px;

    @include respond-to(phone) {
      height: 320px;
    }

    .list-item-picture {
      height: 140px;
      position: static;
      opacity: 1;
      width: 200px;
      display: inline-block;
      float: right;
      @include cover-bg;
      background-position: center;

      @include respond-to(phone) {
        float: left;
        width: 100%;
        height: 200px;
      }
    }

    .list-item-text {
      display: inline-block;
      float: left;
      width: 50%;

      @include respond-to(phone) {
        width: 100%;
        text-align: center;
      }
    }
  }
}