.list-item {
  padding: 20px;
  margin: 20px;
  @include white-bg(0.5);
  position: relative;
  color: $primary-text-color;
  height: 150px;

  h4, h5, h6 {
    color: $primary-text-color;
    max-width: 300px;
  }

  .list-item-picture {
    height: 100px;
    position: absolute;
    top: 20px;
    right: 5px;
    width: 100px;
    @include contain-bg;
    opacity: 0.75;
  }

  .list-item-text {
    padding-right: 5px;
  }
}