@import 'utils';

nav {
  background-color: transparent;
  position: absolute;
  box-shadow: none;
  top: 20px;
  line-height: 56px;

  form {
    width: 50%;
    margin-bottom: 0;
    transition: width 0.5s;
    @include respond-to(phone) {
      width: 75%;
    }
  }

  .input-field {
    label i, label.active i {
      color: $primary-text-color;
    }

    input[type=search] {
      margin-bottom: 0;
      height: 56px;
      @include white-bg(0.5);

      @include placeholder {
        color: #9e9e9e;
      }

      &:focus {
        @include white-bg(0.5);
      }
    }
  }
}

#menuButton {
  margin-left: 10px;
  cursor: pointer;
  padding: 0 10px;
}