// Colors
$primary-text-color: #616161;
$blue-color: #009688;
$white-color: #FFFFFF;

// Backgrounds
@mixin blue-bg($opacity) {
  background-color: rgba($blue-color, $opacity);
}

@mixin grey-bg($opacity) {
  background-color: rgba($primary-text-color, $opacity);
}

@mixin white-bg($opacity) {
  background-color: rgba($white-color, $opacity);
}

@mixin car-bg() {
  background: url('https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-013875902762/resources/images/templatesv2/backgroundpattern.png');
}

@mixin cover-bg() {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin contain-bg() {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

// Border
$border-size: 5px solid;
$white-border: $border-size $white-color;
$grey-border: $border-size rgba($primary-text-color, 0.6);

// Mixins
@mixin respond-to($media) {
  @if $media == phone {
    @media screen and (max-width: 600px) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: 993px) {
      @content;
    }
  } @else if $media == computer {
    @media only screen and (min-width: 993px) {
      @content;
    }
  } @else if $media == large-computer {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

// Animations
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

// Ribbons
.corner-ribbon {
  width: 200px;
  background: black;
  position: absolute;
  top: 15px;
  right: -70px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: white;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  font-size: 1.3rem;
  z-index: 1000;
}